<!DOCTYPE html>
<html>
<head>
    <title>About</title>

    <% include ../include/header %>

</head>
<body style="text-align: justify;">
    <% include ../include/navbar %>


       <!-- Main Content Section -->
        <main class="main">
            <!-- Page Title -->
            <div class="page-title text-center">
                <h2 class="title"> About US </h2>
                <p class="description light">
            </div>
            <!-- Page Title -->
            <!-- Breadcrumbs -->
            <div class="breadcrumbs">
                <div class="container">
                    <span class="parent"> <i class="fa fa-home"></i> <a href="index.html"> Home </a> </span>
                    <i class="fa fa-chevron-right"></i>
                    <span class="child"> <a href="about.php"> About </a> </span>
                   <!--  <i class="fa fa-chevron-right"></i>
                    <span class="child"> COMPANY OVERVIEW </span> -->
                </div>
            </div>

            <div class="container">

                <div class="row about-sidebar">

                    <div class="col-md-9 about-content">

                        <section class="about-company">
                            <a href="#" class="hover-effect" style="height: 300px;">
                                    <img src="images/about_us_home.jpg" alt="">
                                </a>

                            <div class="com">
                                <h2 class="company-title color-title">  ABOUT TECHO VISION</h2>
<!--                             <h4 class="company-subtitle subtitle"> Uniquely transform premier infrastructures before functional metrics. Completely mesh sustainable leadership for economically sound sources.  </h4>
 -->                                <br><br>                     
                                <p> Techno Vision. in Jaipur. AC Repair & Services with Address, Contact Number, Photos, Maps. View Techno Vision., Jaipur on Justdial.
Knowing the necessity for air conditioning services, Techno Vision. in Jaipur specialises in the repair of various types of these air cleaning units. This AC repair service center made its presence felt in the area in 2000. From the very beginning, the seller swore to treat its guests to unparalleled services when it comes to their repair service. While it envisions itself to become the most preferred center for this service, it seeks to derive and offer excellent air conditioning solutions. As it ensures customer satisfaction at every step of the way, the company takes immense pride in the fact that it has been able to win the confidence and trust of the many customers it is known to cater to. With the kind of services it is known to make available to its customers, the dealer has now become a name that many reckon with. The dedication the dealership has shown towards the repair of these cooling units, has and continues to be remarkable. By means of various modes of public transport, the vicinity is a well connected area.</p>

                            </div>
                        </section>

                     <!--    <section class="about-cta">

                            <div class="cta">
                                <h2>Wealth can only be accumulated by the earnings of industry and the savings of frugality.</h2>

                            </div>
                        </section> -->

                        <section class="about-culture">
                            <div class="row culture">
                                <div class="col-sm-6 cul">
                                    <h2 class="culture-title"> OUR PHILOSOPHY  </h2>
                                    <h4 class="culture-subtitle"> </h4>
                                    <p> Bringing together commitment to great service and credibility has always been the focal point of our service centre. We ensure that a problem is thoroughly diagnosed and the equipments are repaired as good as new. </p>

                                </div>
                                <div class="col-sm-6 culture-video">
<!--                                     <a href="#" class="hover-effect"> <img src="images/emp.jpg" alt="employee" /> </a>
 --><br><br><br><br><p style="text-align:justify;" > We understand that wer&rsquo;e here to make lifelong relationships with clients and thus&sbquo; give excellent service and follow up. Our technician&rsquo;s expertise and professionalism has only strengthened our client&rsquo;s belief in us.</p>                                </div>

                            </div>

                        </section>

                       <!--  <section class="about-stats">
                            <div class="row stats stats-2">

                                <div class="col-xs-6">
                                    <img src="images/globe.png" alt="" />
                                    <div class="stats-info">
                                        <h4 class="counter">26</h4>
                                        <p>Offices Worldwide</p>
                                    </div>
                                </div>

                                <div class="col-xs-6">

                                    <img src="images/friends.png" alt="" />
                                    <div class="stats-info">
                                        <h4 class="counter">10000</h4>
                                        <p>Satisfied Employees</p>
                                    </div>
                                </div>

                                <div class="col-xs-6">

                                    <img src="images/fire.png" alt="" />
                                    <div class="stats-info">
                                        <h4 class="counter">126</h4>
                                        <p>Refineries &amp; Operations</p>
                                    </div>
                                </div>

                                <div class="col-xs-6">

                                    <img src="images/badge.png" alt="" />
                                    <div class="stats-info">
                                        <h4 class="counter">35</h4>
                                        <p>Awards &amp; Recognitions</p>
                                    </div>
                                </div>

                            </div>

                        </section> -->

                         <section class="about-accordion">
                            <div class="row publications">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Vision</a>
                </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <p>To be the most preferred electronics service and repair centre in Jaipur.</p>
                                               <!--  <a class="link" href="#">Read More</a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Mission </a> </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Delivering high quality solutions with commitment and world class service to ensure credibility and durability.</p>
                                                  <!--  <a class="link" href="#">Read More</a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Values</a> </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>In order to execute our vision and mission, we rely on our inherent values of integrity and commitment.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">Performance</a> </h4>
                                        </div>
                                        <div id="collapsefour" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p> We believe in building relationships and client’s satisfaction is of prime importance.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">Passion</a> </h4>
                                        </div>
                                        <div id="collapsesix" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>We take every task with equal determination.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseseven">Team Work</a> </h4>
                                        </div>
                                        <div id="collapseseven" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>We can gain from our business domains by sharing knowledge and resources to achieve individual and collective success
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                         <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseeight">Agility</a> </h4>
                                        </div>
                                        <div id="collapseeight" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Our client&#39;s time is precious and we deliver our services keeping that in mind.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                         <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsenine">Reliability</a> </h4>
                                        </div>
                                        <div id="collapsenine" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Our extensive experience shows our trustworthiness.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                     <!--    <section class="about-services">
                            <div class="row services">
                                <div class="col-sm-6">
                                    <a href="#" class="hover-effect">
                                        <img src="images/services-one.jpg" alt="technology-innovation" />
                                    </a>
                                    <h4 class="services-title-one subtitle">TECHNOLOGY &amp; INNOVATION</h4>
                                    <p>Professionally drive clicks-and-mortar web readiness after progressive e-commerce. Dramatically unleash cross functional.</p>
                                    <a class="link" href="#">Read More</a>
                                </div>

                                <div class="col-sm-6">
                                    <a href="#" class="hover-effect">
                                        <img src="images/services-two.jpg" alt="our-operations" />
                                    </a>
                                    <h4 class="services-title-one subtitle">OUR OPERATIONS</h4>
                                    <p>Energistically productize wireless mindshare for emerging experiences. Myocardinate enabled alignments and magnetic scenarios. </p>
                                    <a class="link" href="#">Read More</a>
                                </div>
                            </div>
                        </section> -->

                    </div>

                    <div class="col-md-3 sidebar left">

                        <div class="sidebar-blog-categories">
                            <ul>
                                <li> <a href="index.php"> Home </a> </li>
                                <li> <a href="about.php">About</a> </li>
                                <li> <a href="services.php"> services </a> </li>
                                <li> <a href="contact.php"> Contact </a> </li>
                            </ul>
                        </div>

                      <!--   <div class="sidebar-fact">

                            <h3 class="about-quick-fact">Quick Fact</h3>
                            <p>Arihant Enterprises is a diversiﬁed global conglomerate providing integrated Design, Engineering, Procurement, Construction & Project Management Services in Aviation, Cement, Energy, Marine, Mineral Processing, Steel and other associated downstream sectors.</p>
                            <a href="#" class="btn btn-primary about-quick-fact-button" role="button">CALL TO ACTION</a>

                        </div> -->

                    </div>

                </div>

            </div>
        </main>
        <!-- Main Content Section -->

  <% include ../include/footer %>
</body>
    <% include ../include/script %>
</html>